<div class="movies">
		<div class="film-list-nav">
				<a href="javascript:void(0)" routerLink="playnow" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
						<div class="choosing now-playing">正在热映</div>
				</a>
				<a href="javascript:void(0)"class="" routerLink="playsoon" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
						<div class="coming-soon">即将上映</div>
				</a>
		</div>
		<!--<app-playnow></app-playnow>
		<app-playsoon></app-playsoon>-->
		<router-outlet></router-outlet>
</div>
