<form class="register">
	<div class="user">
		<input type="" name="username" id="username" [(ngModel)]="username" placeholder="请输入手机号/邮箱"/>
	</div>
	<div class="pass">
		<input type="" name="password" id="password" [(ngModel)]="password" value="" placeholder="请输入密码"/>
	</div>
	<div class="pass">
		<input type="" name="password" id="password" [(ngModel)]="repassword" value="" placeholder="请再次输入密码"/>
	</div>
	<button type="submit" class="center-block submit" (click)="submit()" routerLink="/login">注册</button>
</form>
